*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/android/build/reports
/android/.idea
/android/build
android/build/reports/problems/problems-report.html
android/build/reports/problems/problems-report.html
/android/build
/android/build/reports
/android/build/reports/problems
/windows/webview-2/bin
/windows/webview-2/dist
/windows/webview-2/obj
/windows/webview-2/build-tools/obj
/windows/webview-2/build-tools/bin
/windows/installer exe/KingPong-WebView2-Portable
/windows/installer exe/Output
