*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/android/build/reports
/android/.idea
/android/build
android/build/reports/problems/problems-report.html
android/build/reports/problems/problems-report.html
/android/build
/android/build/reports
/android/build/reports/problems
