[Desktop Entry]
Type=Application
Version=1.0
Name=King Pong
GenericName=Arcade Game
Comment=Retro Pong campaign arcade game
Exec=/usr/bin/king-pong
TryExec=/usr/bin/king-pong
Icon=/usr/share/pixmaps/king-pong.png
Terminal=false
Categories=Game;ArcadeGame;
Keywords=Pong;Arcade;Retro;Campaign;Two Player;
StartupNotify=true
StartupWMClass=KingPong
